*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
}
body{
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #444;
  position: relative;
}
.container{
  max-width: 120rem;
  margin: 0 auto;
  padding: 6.2rem 1.6rem;
}
header{
  padding: 0 1.6rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.hero-content{
  margin-top: 8rem;
}
.main-nav-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.main-nav-link{
  text-decoration: none;
  color: #fff;
  position: relative;
}
.main-nav-link::after{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  width: 0%;
  background-color:#fff;
  transition: all 0.5s;
}
.main-nav-link:hover::after{
  width: 100%;
}
.main-nav{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter:blur(10px);
  width: 70%;
  padding: 4rem;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}
.main-nav-link{
  pointer-events: none;
}
.nav-open .main-nav{
  transform: translateX(0%)
}
.nav-open .main-nav-link{
  pointer-events: auto;
  visibility: visible;
}
.btn-menu{
  background: none;
  border: none;
  font-size: 1.6rem; 
  color: #fff;
  padding: 0.9rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
h1{
  font-style: 1.4rem;
  
}
h1 a{
  text-decoration: none;
  color: #fff;
}
h1 a span{
  color: #fff;
  background: #1962D1;
  display: inline-block;
  width: 4rem;
  padding-top: 0.5rem;
  height: 4rem;
  border-radius: 50%;
}
.hero{
  height: 100vh;
  background-color:rgba(171, 110, 232, 0.1);
  background: linear-gradient(rgba(34, 34, 34, 0.85),rgba(34, 34, 34, 0.62)) , url(blog1.jpg) no-repeat;
  backdrop-filter: blur(5px);
}
.hero-content{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  padding: 9.6rem 1.6rem;
  color: #fff;
}
.heading-h2{
  font-size: 2.4rem;
  line-height: 1;
}
p{
  line-height: 1.5;
}
.main-btn{
width: 16rem;
  padding: 1.6rem 3.2rem;
  background-color: rgba(213, 72, 145, 1);
  border-radius:5px;
  text-decoration: none;
  color: #FFFFFF;
}
.costumers{
  display: flex;
  margin-top: 4.8rem;
  align-items: center;
  margin-bottom: 9.6rem;
}
.costumers img{
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  
}
.costumers img:not(:first-child){
  margin-left: -10px;
}
.costumers p{
  margin-left: 10px;
}

.about-content{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}
.about-content img{
  width: 100%;
  border-radius: 12px;
  margin-top: 3.2rem;
}
.heading-h3{
  text-transform: uppercase;
  color: #EC770B;
  margin-bottom: 1.2rem;
  position: relative;
  padding-bottom: 3px;
}
.heading-h3::after{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background-color: #EC770B;
  border-radius: 100px;
}
.heading-span{
  font-size: 1.4rem;
  color: #999;
  margin-bottom: 3.2rem;
}
.content-box p{
  margin-bottom: 3.2rem;
}
.skill{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}
.skilled{
  width: 12rem;
  height: 12rem;
  border: 10px solid #eee;
  border-top: 10px solid #EC770B;
  border-right: 10px solid #EC770B;
  border-bottom: 10px solid #EC770B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-section{
  background-color: rgba(171, 110, 232, 0.1)
}

.blog-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  margin-top: 3.2rem;
}
.blog-box img{
  width: 100%;
  transition: all 0.5s;
}
.blog-box img:hover{
  transform: scale(110%)
}
.blog-box{
  border-radius: 9px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.blog-text{
  padding: 3.2rem 2.4rem;
}
.blog-text span{
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: #EC770B;
  font-weight: lighter;
  color: #fff;
  margin-bottom: 2.4rem;
}
.feature-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
}
.test-img{
  width: 8.4rem;
  border-radius: 100px;
  border: 8px solid #fff;
  position: absolute;
  top: -25%;
  left: 10px;
}
.testimonial-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.8rem;
  margin-top: 3.2rem;
  overflow-x: scroll;
}
.testimonial-box{
  background-color:  rgba(171, 110, 232, 0.1);
  padding: 2.4rem;
  border-radius: 9px;
  position: relative;
  margin-top: 4.8rem;
  width: 34rem;

}
.box1{
  display: grid;
  grid-template-columns: 1fr 2fr ;
}
.name-box{
  text-align: left;
}
.name{
  font-size: 1.4rem;
}
.job{
  font-size: 1.2rem;
  color: #777;
}
.dots{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 3.2rem;
}
.dot{
  background: #ddd;
  height: 1.5rem;
  border: none;
  width: 1.5rem;
  border-radius: 100px;
}
.active{
  background: #EC770B;
}
.contact-grid{
  display: grid;
  grid-template-columns:1fr;
  gap: 4.8rem;
  margin-top: 3.2rem;
}
.form{
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  
}
.form-group{
  position: relative;
  padding: 1.6rem;
  border: 2px solid #EC770B;
  border-radius: 5px;
}
input{
  border: none;
}
input:focus{
  outline: none;
}
label{
margin-left: 15px;
background: #fff;
padding-inline: 3px;
display: inline;
transition: 0.5s;
top: 15px;
left: 10px;
position: absolute;
pointer-events: none;
}



.form-group input:focus + label, .form-group input:valid + label{
  transform: translateY(-25px);
  font-size:1.2rem;
}
.msg-btn{
  padding: 1.6rem;
  border: none;
  background: linear-gradient(to right, #ff2626, #ff95f4);
  font-size: 1.6rem;
  color: #fff;
  border-radius: 5px;
}
.contact-box .heading-h1 a{
  color: #444 !important;
  margin-bottom: 3.2rem;
}
.heading-h1{
  margin-bottom: 2.2rem;
}
.contact-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3.2rem;
}
.footer{
  background-color: rgba(0, 0, 0, 0.84);
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 4.8rem 1.6rem;
}